:root{
    --blue: #2f6fdd; 
    --bg: #0f0fb3;
    --shadow: 0 2px 2px rgb(253, 255, 255);
}

body{
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 2000px;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg.jpeg);
    z-index: -1;
    filter: brightness();
}

.hero {
    position: relative;
    min-height: 100vh;
    
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
}
.hero h4 {
    font-size: 1.6rem;
}
.hero p {
    font-size: 2rem;
}
.hero a {
    color: var(--brown);
    background-color: #f5f6f7;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--blue);
    color: #498afa;
}


/* Media Query */
/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .simply-countdown>.simply-section{
        padding: 70px;
    }
}
/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section{
        padding: 60px;
        margin: 5px;
    }
}
/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60;
    }

    .simply-countdown>.simply-section{
        padding: 45px;
        margin: 3px;
    }
}